html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.img {
    background-size: cover;
}
    
header{
    width: 100%;
    vertical-align: top;
}

.nav{
    display: flex;
    top: 0px;
    background-color: white;
    width: 100%;
    position: fixed;
}

.whitespace1{
    width: 2%;
}

.logo{
    padding-top: 10%;
    width: 50px;
    height: auto;
}

.div-titulo{
    margin-left: 25px;
}

.titulo{
    vertical-align:middle;
    font-family:sans-serif;
    font-weight: bold;
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .dropbtn {
    margin-top: 3%;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 28px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .space {
    margin-right: 10px;
  }

  .dropbtn i {
    font-size: 50px;
  }

.div-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.div-form {
    margin-top: 30%;
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 30px;
}

.add{
  position: absolute;
  align-items: center;
  background-color: #000000;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 24px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  justify-content: center;
  letter-spacing: -.8px;
  outline: 0;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 3%;
}

.div-add {
  height: 180px;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 55px;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #3C3F3E;
  border-radius: 10px;
}

.boton{
  align-items: center;
  background-color: #ffffff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 50px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.input {
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 350px;
 }

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  max-height: 100vh;
}

.div-info h1{
  display: inline-block;
  font-family: sans-serif;
  color: #875C40;
  font-size: 40px;
  border-bottom: 3px solid #875C40;
}

.materias-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 50px;
  grid-gap: 100px;
  overflow: auto;
  overflow-y: scroll;
}

.version-container {
  position: sticky;
  bottom: 0;
  margin-top: auto;
}

.version {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.materia{
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
}

.materia-info{
  position: relative;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}

.user{
  position:absolute;
  width: 90px;
  height: 90px;
  background-color: #fff;
  top: 50px;
  right: 10px;
  border-radius: 50%;
}

.user p{
  text-align: center;
  margin:0;
}

.ph-user-circle{
  font-size: 90px;
}

.materia-nombre{
  font-family: monospace;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.materia-nombre:hover{
  font-size: 30px;
}

.nom{
  display: flex;
}

.nom i{
  padding-top: 10px;
  position: relative;
  font-size: 20px;
}

.nom i:hover{
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.materia-detail{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  right: 20px;
  left: auto;
  margin-top: 20px;
}

.materia-detail a{
  color: #333;
  padding: 10px 14px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

.materia-nombrep{
  text-align: center;
  height: 36px;
  padding-top: 10px;
  width: 95%;
  margin:0;
}

.materia-profesor{
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  color: #dedede;
}

.materia-info.uno{
  background-color: #3C3F3E;
}

.materia-info.dos{
  background-color: #CEA47C;
}

.materia-info.tres{
  background-color: #6D8FA3;
}

.materia-info.cuatro{
  background-color: #875C40;
}

.materia-info.cinco{
  background-color: #96B2B7;
}

.materia-p{
  background-color: #ffffffd9;
  height: 200px;
  border-radius: 0px 0px 20px 20px;
}

 .sidepanel {
  height: 500px;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidepanel a {
  color: #818181;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 28px;
  display: block;
  transition: 0.3s;
}
/* The sidepanel links */
.a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: 0;
  position: right;
}

.openbtn:hover {
  background-color: #444;
} 

.chatbot{
  background-color: #fff;
  width: 75px;
  height: 75px;
  position:absolute;
  bottom: 25px;
  left: 25px;
  border-radius: 50%;
}

.chatbot p{
  text-align: center;
}

.chatbot i{
  font-size: 50px;
}

.chatbot:hover{
  background-color: #000;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.chatbot:hover p{
  color: #fff;
}

.panelrobot {
  height: 600px;
  width: 0;
  position: fixed;
  z-index: 1;
  bottom: 100px;
  left: 55px;
  overflow-x: hidden;
  transition: 0.5s;
}

.bot-top{
  display: flex;
  height: 100px;
  background-color: #000;
  align-items: center;
}

.bot-top h2{
  font-family: monospace;
  color: #fff;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 150px;
}

.bot-top p{
  padding-left: 30px;
  color: #fff;
  font-size: 30px;
}

.bot-chat{
  height: 500px;
  background-color: #fff;
}

.close {
  color: #818181;
  padding-left: auto;
  padding-right: 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 28px;
  transition: 0.3s;
}

.bot-chat p{
  margin:0;
}

.div-error{
  width: 100vh;
  overflow: hidden;
}

.error-no{
  width: 100%;
  text-align: center;
}