html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

.img {
    background-size: cover;
}
    
header{
    width: 100%;
    vertical-align: top;
}

.nav{
    display: flex;
    top: 0px;
    background-color: white;
    width: 100%;
    position: fixed;
}

.whitespace1{
    width: 2%;
}

.logo{
    padding-top: 10%;
    width: 50px;
    height: auto;
}

.div-titulo{
    margin-left: 25px;
}

.titulo{
    vertical-align:middle;
    font-family:sans-serif;
    font-weight: bold;
    color: #000000;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .dropbtn {
    margin-top: 3%;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 28px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .space {
    margin-right: 10px;
  }

  .dropbtn i {
    font-size: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .dropdown {
      position: static;
    }
    
    .dropdown-content {
      position: static;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }
  
    .dropdown:focus .dropdown-content {
      display: block;
      max-height: 500px;
    }
  }

.div-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.div-form {
    margin-top: 30%;
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 30px;
}

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  max-height: 100vh;
}

.div-info h1{
  display: inline-block;
  font-family: sans-serif;
  color: #875C40;
  font-size: 40px;
  border-bottom: 3px solid #875C40;
}

.materias-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  padding-top: 10px;
  padding-bottom: 50px;
  grid-gap: 100px;
  overflow: auto;
  overflow-y: scroll;
}

.version-container {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  padding-top: auto;
}

.version {
  font-family: sans-serif;
  font-size: 14px;
}

/*.boton {
  align-items: center;
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 30px;
  font-weight: 400;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 40px 50px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 10px;
  margin-bottom: 15px;
}*/

.materia{
  width: 100%;
  height: 300px;
  padding-bottom: 20px;
}

.materia-info{
  position: relative;
  height: 100px;
  border-radius: 20px 20px 0px 0px;
}

.materia-info i{
  position:absolute;
  font-size: 100px;
  top: 50px;
  right: 10px;
}

.materia-nombre{
  font-family: monospace;
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}

.materia-nombrep{
  text-align: center;
  height: 36px;
  padding-top: 10px;
  width: 95%;
}

.materia-profesor{
  font-family: sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  color: #dedede;
}

.materia-info.uno{
  background-color: #3C3F3E;
}

.materia-info.dos{
  background-color: #CEA47C;
}

.materia-info.tres{
  background-color: #6D8FA3;
}

.materia-info.cuatro{
  background-color: #875C40;
}

.materia-info.cinco{
  background-color: #96B2B7;
}

.materia-p{
  background-color: #ffffffd9;
  height: 200px;
  border-radius: 0px 0px 20px 20px;
}

 /* The sidepanel menu */
 .sidepanel {
  height: 500px; /* Specify a height */
  width: 0px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 100px;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

.sidepanel a {
  color: #818181;
  padding: 24px 16px;
  text-decoration: none;
  font-size: 28px;
  display: block;
  transition: 0.3s;
}
/* The sidepanel links */
.a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  border: 0;
  position: right;
}

.openbtn:hover {
  background-color: #444;
} 