html{
    height: 100vh;
    width: 100vw;
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.img {
    background-size: cover;
}
    
header{
    width: 100%;
    vertical-align: top;
}

.nav{
    display: flex;
    top: 0px;
    background-color: white;
    width: 100%;
    position: fixed;
}

.whitespace1{
    width: 2%;
}

.logo{
    padding-top: 10%;
    width: 50px;
    height: auto;
}

.div-titulo{
    margin-left: 25px;
}

.titulo{
    vertical-align:middle;
    font-family:sans-serif;
    font-weight: bold;
    color: #000;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;
  }
  
  .dropbtn {
    margin-top: 3%;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 28px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .space {
    margin-right: 10px;
  }

  .dropbtn i {
    font-size: 50px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 28px;
    display: block;
  }
  
  .dropdown:hover .dropdown-content,
  .dropdown:focus .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 768px) {
    .dropdown {
      position: static;
    }
    
    .dropdown-content {
      position: static;
      display: none;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease-out;
    }
  
    .dropdown:focus .dropdown-content {
      display: block;
      max-height: 500px;
    }
  }

.div-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}

.div-form {
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 95%;
    height: 85%;
    margin: auto;
    border-radius: 30px;
}

.div-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  width: 100%;
}

.div-info h1{
  display: inline-block;
  font-family: monospace;
  color: #5B372D;
  font-size: 36px;
  border-bottom: 3px solid black;
  margin-bottom: 0px;
}

.div-video {
  display: flex;
  width: 90%;
  padding-top: 0px;
  padding-bottom: 30px;
  overflow: auto;
  overflow-y: scroll;
  margin: auto;
}

.div-video iframe {
  display: block;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
}

.version-container {
  position: sticky;
  bottom: 0;
  margin-top: auto;
  padding-top: auto;
}

.boton{
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 50px;
}

.boton2{
  align-items: center;
  background-color: #5B372D;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 50px;
}