{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Dashboard</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/unam2.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css' %}" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/default.min.css' %}" />
        <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
    </head>
    <body class="img" style="background-image: url('{% static "img/unam.png"%}')";>
        <header>
            <nav class="nav">
                <div class="whitespace1"></div>
                <a href="{% url 'dashboard' %}">
                    <img class="logo" src="{% static 'img/unam2.png' %}">
                </a>
                <div class="div-titulo"><h1 class="titulo">Info-Academy</h1></div>
                <div class="dropdown">
                    <button class="dropbtn" onclick="openNav()">
                        Bienvenido, {{ short_name }}
                        <span class="space"></span>
                        <i class="ph-fill ph-user-square"></i>
                    </button>
                </div>
            </nav>
        </header>
        <div class="div-page">
            <div id="mySidepanel" class="sidepanel">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'edit_account' %}">
                    Editar cuenta
                    <i class="ph-bold ph-pencil-simple-line"></i>
                </a>
                {% if user.role == 'Administrador' or user.role == 'Profesor' %}
                <a href="{% url 'subjects' %}">
                    Agregar / editar materias
                    <i class="ph-bold ph-notebook"></i>
                </a>
                {% else %}
                <a href="{% url 'subjectstudent' %}">
                    Inscribir materia
                    <i class="ph-bold ph-notebook"></i>
                </a>
                {% endif %}
                {% if user.role == 'Administrador' %}
                <a href="{% url 'users' %}">
                    Usuarios
                    <i class="ph-bold ph-user-circle-gear"></i>
                </a>
                {% endif %}
                <a class="logout" href="{% url 'logout' %}" onclick="return confirmLogout()">
                    Cerrar sesión
                    <i class="ph-bold ph-sign-out"></i>
                </a>
            </div>
            <div class="div-form">
                <div class="div-info">
                    {% if user.role == 'Administrador' or user.role == 'Profesor' %}
                    <button class="add" onclick="openAdd()">+</button>
                    <div class="div-add" id="div-add">
                        <a href="javascript:void(0)" class="close" onclick="closeAdd()">&times;</a>
                        <form method="post">
                            {% csrf_token %}
                            <input class="input" id="nombre_materia" name="nombre_materia" type="text" id placeholder="Nombre de la materia" required>
                            <div>
                                <button class="boton" type="submit">Crear</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}
                    <div class="materias-container">
                        {% if materias %}
                        {% for materia in materias %}
                        <div class="materia">
                            <div class="materia-info {{ colores|random }}">
                                <div class="nom">
                                    <p class="materia-nombrep"><a href="{% url 'subjectopic' materia.codigo %}" class="materia-nombre">{{ materia.nombre }}</a></p>
                                    <i class="ph-fill ph-dots-three-outline-vertical" onclick="openOpc({{ materia.id }})"></i>
                                    <div id="myPanelOpc{{ materia.id }}" class="materia-detail">
                                        {% if user.role == 'Administrador' or user.role == 'Profesor' %}
                                            <a href="#" onclick="confirmDelete({{ materia.id }})">
                                                <i class="ph ph-trash"></i>
                                                Eliminar
                                            </a>
                                        {% endif %}
                                        {% if user.role == 'Estudiante' %}
                                        <a href="{% url 'baja' materia.codigo %}">
                                            <i class="ph ph-arrow-circle-down"></i>
                                            Dar de baja
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <p class="materia-profesor">{{ materia.profesor.first_name }} {{ materia.profesor.last_name }}</p>
                                <div class="user"><p><i class="ph-duotone ph-user-circle"></i></p></div>
                            </div>
                            <div class="materia-p">
                                {% if materia.tema_set.all %}
                                {% for tema in materia.tema_set.all %}
                                <a href="{% url 'subjectopic' materia.codigo %}" class="tema"><i class="ph-duotone ph-book"></i> {{ tema.nombre }}</a>
                                {% endfor %}
                                {% else %}
                                <p class="p-content">Aun no hay contenido</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="materia-info {{ colores|random }}" style="border-radius: 20px 20px 20px 20px; color:#fff; width: 1000px; margin: 20%";>
                            <h2 class="error-no">No hay materias disponibles.</h2>
                            <a href="{% url 'subjectstudent' %}" style="text-decoration: none; color:#fff";><p style="text-align: center; font-size: 20px;">Inscribirme a una nueva clase</p></a>
                        </div>
                        {% endif %}
                    </div>
                    <div id="myPanelRobot" class="panelrobot">
                        <div class="bot-top">
                            <div class="bot-top-items">
                                <p><i class="ph-duotone ph-robot"></i></p>
                                <h2>Chatbot</h2>
                                <a href="javascript:void(0)" class="close" onclick="closeBot()">&times;</a>
                            </div>
                        </div>
                        <div class="bot-chat" id="bot-chat">
                            <div class="whitespace2"></div>
                            <div class="bubble left">Hola, pregunta lo que quieras</div>
                            <div class="whitespace2"></div>
                        </div>
                        <div class="bot-write">
                            <form id="chatbot-form">
                                {% csrf_token %}
                                <textarea name="mensaje_usuario" id="mensaje_usuario" maxlength="50" placeholder="Escribe tus dudas"></textarea>
                                <button type="button" id="submit-button"><i class="ph ph-paper-plane-tilt"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="chatbot" onclick="openBot()"><p><i class="ph-duotone ph-robot"></i></p></div>
                    <div class="version-container">
                        <p class="version">Versión {{ version }}</p>
                    </div>
                </div>
            </div>
        </div>       
    </body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
function confirmLogout() {
  alertify.confirm('Cerrar sesión', '¿Estás seguro de que deseas cerrar sesión?', function() {
    // Redirigir al usuario a la página de logout
    window.location.href = "{% url 'logout' %}";
  }, function() {
    // El usuario canceló el logout, no hacer nada
  });
  
  // Evitar que el enlace se siga ejecutando inmediatamente
  return false;
}

/* Set the width of the sidebar to 250px (show it) */
function openNav() {
    if(document.getElementById("mySidepanel").style.width == "250px")
    {
        document.getElementById("mySidepanel").style.width = "0px";
    }else{
        document.getElementById("mySidepanel").style.width = "250px";
    }
}

function openBot() {
    if(document.getElementById("myPanelRobot").style.width == "400px"){
        document.getElementById("myPanelRobot").style.width = "0";
    }else{
        document.getElementById("myPanelRobot").style.width = "400px";
    }
}

function openOpc(materiaId) {
    var panelOpc = document.getElementById("myPanelOpc" + materiaId);
    if (panelOpc.style.display == "block") {
        panelOpc.style.display = "none";
    } else {
        panelOpc.style.display = "block";
    }
}

function openAdd() {
    if(document.getElementById("div-add").style.width == "400px"){
        document.getElementById("div-add").style.width = "0";
    }else{
        document.getElementById("div-add").style.width = "400px";
    }
}

/* Set the width of the sidebar to 0 (hide it) */
function closeNav() {
  document.getElementById("mySidepanel").style.width = "0";
} 

function closeBot() {
  document.getElementById("myPanelRobot").style.width = "0";
}

function closeAdd() {
  document.getElementById("div-add").style.width = "0";
}

function confirmDelete(materiaId) {
      alertify.confirm("¿Estás seguro de que deseas eliminar esta materia?", function () {
        window.location.href = "/subjects/delete/" + materiaId + "/";
      }, function () {
        alertify.warning('Eliminación cancelada');
      });
}

function isEmpty(str) {
    return (!str || str.trim().length === 0);
}

function sendQuestion() {
    var mensaje_usuario = document.getElementById("mensaje_usuario").value;
    if(!isEmpty(mensaje_usuario)){
        document.getElementById("mensaje_usuario").disabled = true;
        document.getElementById("submit-button").disabled = true;
        var chatbotUrl = "{% url 'chatbot_endpoint' 128 %}";
        var csrfToken = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        var container = document.getElementById("bot-chat");
        var divUser = document.createElement("div");
        divUser.className = "bubble right";
        divUser.innerText = mensaje_usuario;
        container.appendChild(divUser);
        var whitespaceDiv = document.createElement("div");
        whitespaceDiv.className = "whitespace2";
        container.appendChild(whitespaceDiv);
        document.getElementById('mensaje_usuario').value = '';
        var loading = document.createElement("div");
        loading.className = "dot-typing";
        container.appendChild(loading);

        var xhr = new XMLHttpRequest();
        xhr.open('POST', chatbotUrl, true);
        xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
        xhr.setRequestHeader('X-CSRFToken', csrfToken);

        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 400) {
                var response = JSON.parse(xhr.responseText);
                loading.remove();
                var newDiv = document.createElement("div");
                newDiv.className = "bubble left";
                newDiv.innerText = response.answer;

                container.appendChild(newDiv);

                var whitespaceDiv = document.createElement("div");
                whitespaceDiv.className = "whitespace2";
                container.appendChild(whitespaceDiv);
            }
        };

        xhr.onerror = function () {
            console.error('Error en la solicitud al chatbot');
        };
        var data = JSON.stringify({ mensaje_usuario: mensaje_usuario });
        xhr.send(data);
        document.getElementById("mensaje_usuario").disabled = false;
        document.getElementById("submit-button").disabled = false;
    }
}

var submitButton = document.getElementById("submit-button");
submitButton.addEventListener('click', sendQuestion);
</script>

{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}