{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Info-Academy</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/unam-ico.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body class="img" style="background-image: url('{% static "img/unam.png"%}')";>
        <header>
            <nav class="nav">
                <div class="whitespace1"></div>
                <a href="{% url 'index' %}">
                    <img class="logo" src="{% static 'img/unam2.png' %}">
                </a>
                <div class="div-titulo"><h1 class="titulo">Info-Academy</h1></div>
                <div class="div-entrar"><a href="{% url 'login' %}"><button class="entrar">ENTRAR</button></a></div>
            </nav>
        </header>
        <div class="div-page">
            <div class="div-form">
                <div class="div-info">
                    <h1>Info-Academy</h1>
                    <div class="div-info-content">
                        <p>Cree material educativo con una inteligencia artificial sobre distintos temas y diferentes formatos en minutos. <br><br>Diseñado para estudiantes y docentes.</p>
                    </div>
                    <div><a href="{% url 'signup' %}"><button class="entrar">COMIENZA AHORA</button></a></div>
                </div>
            </div>
        </div>       
    </body>
</html>

{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}