{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Info-Academy</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/unam-ico.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/initialtest.css' %}">
        <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css' %}" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/default.min.css' %}" />
        <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
    </head>
    <body class="img" style="background-image: url('{% static "img/unam.png"%}')";>
        <header>
            <nav class="nav">
                <div class="whitespace1"></div>
                <a href="{% url 'index' %}">
                    <img class="logo" src="{% static 'img/unam2.png' %}">
                </a>
                <div class="div-titulo"><h1 class="titulo">GPT-UNAM</h1></div>
            </nav>
        </header>
        <div class="div-page">
            <div class="div-form">
                <div class="div-info">
                    <h1>Completa el cuestionario</h1>
                    <form method="post">
                        {% csrf_token %}
                        <div class="ln">
                            <label for="nivel_experiencia">Nivel de programación</label>
                            <select class="input" id="nivel_experiencia" name="nivel_experiencia">
                                <option value="Principiante" selected>Principiante</option>
                                <option value="Intermedio">Intermedio</option>
                                <option value="Avanzado">Avanzado</option>
                            </select>
                        </div>
                        <div class="ln">
                            <label for="estilo_aprendizaje">Tipo de aprendizaje preferido</label>
                            <select class="input" id="estilo_aprendizaje" name="estilo_aprendizaje">
                                <option value="Visual" selected>Visual</option>
                                <option value="Auditivo">Auditivo</option>
                                <option value="Kinestésico">Kinestésico</option>
                            </select>
                        </div>
                        <div class="ln">
                            <label for="contenido_preferido">Contenido preferido</label>
                            <select class="input" id="contenido_preferido" name="contenido_preferido">
                                <option value="Videos" selected>Videos</option>
                                <option value="Lecturas">Lecturas</option>
                                <option value="Prácticas">Prácticas</option>
                            </select>                            
                        </div>
                        <div class="ln">
                            <label for="horarios_estudio">Horario de estudio</label>
                            <select class="input" id="horarios_estudio" name="horarios_estudio">
                                <option value="Mañana" selected>Mañana</option>
                                <option value="Tarde">Tarde</option>
                                <option value="Noche">Noche</option>
                            </select>                            
                        </div>
                        <div class="ln">
                            <label for="duracion_sesiones">Sesiones (duración)</label>
                            <select class="input" id="duracion_sesiones" name="duracion_sesiones">
                                <option value="Cortas" selected>Cortas</option>
                                <option value="Moderadas">Moderadas</option>
                                <option value="Noche">Largas</option>
                            </select>                            
                        </div>
                        <div class="ln">
                            <label for="formato_evaluacion">Evaluaciones preferidas</label>
                            <select class="input" id="formato_evaluacion" name="formato_evaluacion">
                                <option value="Cuestionarios" selected>Cuestionarios</option>
                                <option value="Proyectos">Proyectos</option>
                                <option value="Discusiones">Discusiones</option>
                            </select>                            
                        </div>
                        <div class="ln">
                            <label for="switch">**Recibir recomendaciones</label>
                            <label class="switch">
                                <input type="checkbox" id="recibir_recomendaciones" name="recibir_recomendaciones">
                                <span class="slider round"></span>
                              </label>
                        </div>
                        <div class="ln">
                            <button class="registro">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
    </body>
</html>

{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}