{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Subtemas</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/unam-ico.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css' %}" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/default.min.css' %}" />
        <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
    </head>
    <body class="img" style="background-image: url('{% static "img/unam.png"%}')";>
        <header>
            <nav class="nav">
                <div class="whitespace1"></div>
                <a href="{% url 'dashboard' %}">
                    <img class="logo" src="{% static 'img/unam2.png' %}">
                </a>
                <div class="div-titulo"><h1 class="titulo">GPT-UNAM</h1></div>
                <div class="dropdown">
                    <button class="dropbtn">
                        Bienvenido, {{ short_name }}
                        <span class="space"></span>
                        <i class="ph-fill ph-user-square"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'edit_account' %}">
                            Editar cuenta
                            <i class="ph-bold ph-pencil-simple-line"></i>
                        </a>
                        <a href="#">
                            Chat (Beta)
                            <i class="ph-bold ph-chat-circle-dots"></i>
                        </a>
                        {% if user.role == 'Administrador' %}
                        <a href="{% url 'users' %}">
                            Usuarios
                            <i class="ph-bold ph-user-circle-gear"></i>
                        </a>
                        {% endif %}
                        <a class="logout" href="{% url 'logout' %}" onclick="return confirmLogout()">
                            Cerrar sesión
                            <i class="ph-bold ph-sign-out"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="div-page">
            <div class="div-form">
                <div class="div-info">
                    <h1>{{ tema.nombre }}</h1>
                    <div style="padding-bottom: 20px;">
                        <a href="{% url 'new_subtopic' materia.id tema.id %}" class="boton">Nuevo subtema</a>
                    </div>    
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Subtema</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for subtema in subtemas %}
                            <tr>
                                <td>{{ subtema.nombre }}</td>
                                <td>
                                    <a href="#" class="boton">Detalles</a>
                                    <a href="#" class="boton2" onclick="confirmDelete({{ tema.id }}, {{ materia.id }})">Eliminar</a>
                                </td>                                    
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>                                                                  
                </div>
            </div>
        </div>       
    </body>
</html>

<script>
function confirmLogout() {
  alertify.confirm('Cerrar sesión', '¿Estás seguro de que deseas cerrar sesión?', function() {
    // Redirigir al usuario a la página de logout
    window.location.href = "{% url 'logout' %}";
  }, function() {
    // El usuario canceló el logout, no hacer nada
  });
  
  // Evitar que el enlace se siga ejecutando inmediatamente
  return false;
}
</script>

<script>
function confirmDelete(temaId, materiaId) {
  alertify.confirm("¿Estás seguro de que deseas eliminar este tema?", function () {
    window.location.href = "/subjects/" + materiaId + "/topics/delete/" + temaId + "/";
  }, function () {
    alertify.warning('Eliminación cancelada');
  });
}
</script>

{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}