{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Usuarios</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/unam-ico.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/users.css' %}">
        <script src="https://unpkg.com/@phosphor-icons/web"></script>
        <link rel="stylesheet" href="{% static 'alertifyjs/css/alertify.min.css' %}" />
        <link rel="stylesheet" href="{% static 'alertifyjs/css/themes/default.min.css' %}" />
        <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
    </head>
    <body class="img" style="background-image: url('{% static "img/unam.png"%}')";>
        <header>
            <nav class="nav">
                <div class="whitespace1"></div>
                <a href="{% url 'dashboard' %}">
                    <img class="logo" src="{% static 'img/unam2.png' %}">
                </a>
                <div class="div-titulo"><h1 class="titulo">Info-Academy</h1></div>
                <div class="dropdown">
                    <button class="dropbtn">
                        Bienvenido, {{ short_name }}
                        <span class="space"></span>
                        <i class="ph-fill ph-user-square"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{% url 'edit_account' %}">
                            Editar cuenta
                            <i class="ph-bold ph-pencil-simple-line"></i>
                        </a>
                        {% if user.role == 'Administrador' or user.role == 'Profesor' %}
                        <a href="{% url 'subjects' %}">
                            Agregar / editar materias
                            <i class="ph-bold ph-notebook"></i>
                        </a>
                        <a href="#">
                            Chat (Beta)
                            <i class="ph-bold ph-chat-circle-dots"></i>
                        </a>
                        {% endif %}
                        <a class="logout" href="{% url 'logout' %}" onclick="return confirmLogout()">
                            Cerrar sesión
                            <i class="ph-bold ph-sign-out"></i>
                        </a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="div-page">
            <div class="div-form">
                <div class="div-info">
                    <h1>USUARIOS</h1>
                    <div class="search-container">
                        <input class="input" type="text" id="search-input" placeholder="Buscar por número de cuenta">
                    </div>
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>NC</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>Rol</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.nc }}</td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.role }}</td>
                                <td>
                                    <a href="{% url 'edit_user' user.id %}" class="boton">Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>          
                </div>
            </div>
        </div>       
    </body>
</html>

<script>
    // Obtén los elementos del DOM
    const searchInput = document.getElementById('search-input');
    const tableRows = document.querySelectorAll('.custom-table tbody tr');
  
    // Agrega un evento al campo de búsqueda
    searchInput.addEventListener('input', () => {
      const searchTerm = searchInput.value.toLowerCase();
  
      // Recorre las filas de la tabla y muestra/oculta según el término de búsqueda
      tableRows.forEach((row) => {
        const ncCell = row.querySelector('td:nth-child(1)'); // Ajusta el índice según la posición de la columna
  
        if (ncCell.innerText.toLowerCase().includes(searchTerm)) {
          row.style.display = 'table-row';
        } else {
          row.style.display = 'none';
        }
      });
    });
</script>

<script>
function confirmLogout() {
  alertify.confirm('Cerrar sesión', '¿Estás seguro de que deseas cerrar sesión?', function() {
    // Redirigir al usuario a la página de logout
    window.location.href = "{% url 'logout' %}";
  }, function() {
    // El usuario canceló el logout, no hacer nada
  });
  
  // Evitar que el enlace se siga ejecutando inmediatamente
  return false;
}
</script>

{% if messages %}
    <script>
        {% for message in messages %}
            alertify.{{ message.tags }}('{{ message }}');
        {% endfor %}
    </script>
{% endif %}